@import "tailwindcss";

@theme {
	--text-gradient: linear-gradient(90deg, #7d74de 0%, #43e7ad 50%, #e1d55d 100%);
	--game-gradient: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.9) 67.08%
	);
	--font-display: "Inter", sans-serif;
}
@layer base {
}
@layer components {
}
@layer utilities {
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: var(--font-display);
}

body {
	background-color: #121214;
	background-image: url("/fundo.png");
	background-repeat: no-repeat;
	background-size: cover;
}
